<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GiChecker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GiChecker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="GiChecker.Properties.Settings.IPv4ConnectionString"
            connectionString="Data Source=.;Initial Catalog=IPv4;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <GiChecker.Properties.Settings>
            <setting name="LastIP" serializeAs="String">
                <value>0.0.0.0</value>
            </setting>
        </GiChecker.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <GiChecker.Properties.Settings>
            <setting name="MMFPath" serializeAs="String">
                <value>F:\MyTools\GoProxy\MFF-160522\release\</value>
            </setting>
            <setting name="GoogleIP" serializeAs="String">
                <value>google ip duan.txt</value>
            </setting>
            <setting name="GoogleIPHunter" serializeAs="String">
                <value>GoogleIPHunter.txt</value>
            </setting>
            <setting name="OnlyReserved" serializeAs="String">
                <value>False</value>
            </setting>
        </GiChecker.Properties.Settings>
    </applicationSettings>
</configuration>